{% extends 'base.html' %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}
<h1 style="text-align: center; color: white">
  <i class="fa fa-info-circle"></i> <br />
  About
</h1>

<p style="text-align: center; color: white">
  This is a website developed by
  <a href="https://www.prorakabd.xyz">prorakabd.xyz</a><br />. This website
  shows live update on covid cases in Srilanka as well as International. <br />
  Data in this website is obtaine from the API provided by
  <a href="https://hpb.health.gov.lk"
    >Health Promotion Bureau - Ministry of Health Srilanka</a
  >
  <br />
  There for this information is reliable and genuine. <br />
  New in this website are obtained from
  <a href="https://www.newsfirst.lk">NewsFirst.lk</a>.

  <br />
  <br />

  If you wish to support this work, Please share this and <br />
  provide your feedback to us via
  <a href="https://www.prorakabd.xyz">prorakabd.xyz</a><br /><br />

  <b>Follow Us On:</b><br />
  <a href="https://twitter.com/rakeeb_abd"
    ><i style="color: white; font-size: 1.5rem" class="fa fa-twitter"></i>
  </a>
  <a href="https://instagram.com/rakeeb_abd"
    ><i style="color: white; font-size: 1.5rem" class="fa fa-instagram"></i
  ></a>
</p>

{% endblock %}
